<% include nav.ejs %>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
    </div>

</div>
<script src="/layui/layui.js"></script>
<script>

</script>
</body>
</html>