<% include nav.ejs %>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend>修改密码</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" action="" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">重置密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required|pass" placeholder="请输入密码" autocomplete="off"
                           class="layui-input">
                </div>
                <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

</div>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['element', 'form'], function () {
      layui.form.on('submit(formDemo)', function (data) {
        layui.$.ajax({
          url: '/admin/resetpassword',
          method: 'post',
          data: data.field,
          success(res) {
            layer.alert(res.data)
          }
        })
        return false;
      });
      layui.form.verify({
        pass: [
          /^[\S]{6,12}$/
          ,'密码必须6到12位，且不能出现空格'
        ]
      })
    })

</script>
</body>
</html>